@charset "utf-8";
/* CSS Document */
.wrap {
   /* width: 100%; height: 200px;  restrict width to viewport */
    overflow-y: hidden; /* hide vertical scrollbar */
    overflow-x: scroll; /* show only horizontal scrollbar */
}

body{
	margin-top:50px;
	background-color:#feead5;
}
